<div class="container mt-4">
    <h1>Find your booking with confirmation code!</h1>

    <%= form_with model: Booking.new do |form| %>
        <%= form.text_field :search_param, class: 'form-control' %>
        <%= form.button "Submit", class: 'btn btn-dark' %>
    <% end %>
</div>